html,
body {
  padding: 0px !important;
  margin: 0px !important;
  height: 100% !important;
  width: 100% !important;
  background-color: black;
}
:root {
  --red: rgb(255, 0, 0);
}
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

/* Button special css  */
.btn {
  color: white !important;
  border-color: white !important;
  border-radius: 0px !important;
}
.btn:hover,
.btn:focus,
.btn:active,
.open .dropdown-toggle.btn-default {
  background-color: transparent !important;
  color: white !important;
  border-color: transparent !important;
  box-shadow: -8px -8px 0 -5px var(--red), 8px 8px 0 -5px var(--red) !important;
  border-radius: 20px !important;
}

/* NAVBAR  */
nav {
  backdrop-filter: blur(7px) !important;
}

.nav-item > a {
  color: white !important;
  font-size: 20px !important;
  letter-spacing: 2px;
  font-weight: 500 !important;
  margin: 3px 16px !important;
  padding: 5px 15px !important;
}
.nav-item>a:hover,
.nav-item>a:focus,
#active{
  color: var(--red) !important;
}
.navbar-brand {
  padding-bottom: 0px !important;
}
#logo {
  height: 80px;
  padding-left: 10px !important;
}
.headings {
  font-size: 80px !important;
  font-family: fantasy;
  color: black !important;
}
.spec_font {
    color: white !important;
    font-size: 25px !important;
}

.btn-style {
  font-family: "Kurale", serif !important;
}
/* Footer */
#footer {
  background-color: white;
  height: max-content !important;
}
#footer .btn{
    color: black !important;
    border: 2px solid black !important;
    padding: 0px 10px !important;
}
#footer .btn:hover,
#footer .btn:focus{
    background-color: black !important;
    color: white !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
#footer .spec_font {
  border-bottom: none;
  color: var(--red) !important;
  font-weight: bold;
}
#footer h2 {
  transform: scaleY(2) !important;
  font-family: fantasy !important;
  letter-spacing: 5px;
}
#footer img{
    height: 25px !important;
    margin: 10px !important;
    filter: grayscale(1);
}
#credits a{
    color: black;
    text-decoration: underline black;
}
#hamburger{
  padding: 0px !important;
}
#hamburger:focus{
  box-shadow: none !important;
  border: none !important;
  filter: sepia(1);
}
#hamburger img{
  height: 20px !important;
  filter: invert(1);
}
@media screen and (max-width: 700px) {
    #footer{
        flex-direction: column !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #footer_cont{
        padding-bottom: 50px !important;
    }
    #credits{
        width: 95vw !important;
    }
    #footer h5{
        font-size: 15px !important;
        padding: 0px !important;
        margin: 5px !important;
    }
    #footer .btn{
        font-size: 15px !important;
    }
    #logo{
      height: 50px !important;
    }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
