#landing-container {
  height: 100vh !important;
  margin: 0px !important;
  padding: 0px !important;
  position: relative;
  background-image: url(../images/robo-girl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
}

#robo_girl {
  height: 500px !important;
}
#landing-inner {
  position: absolute;
  bottom: 8% !important;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto  ;
  font-family: "Kurale", serif;
  color: red;
  text-align: center;
}
#landing-inner h2 {
  font-size: 80px;
}
#landing-inner h3 {
  font-size: 40px;
  letter-spacing: 10px;
  word-spacing: 25px;
}
#landing-inner a {
  text-decoration: none;
}
#date {
  position: relative;
  right: 250px;
  color: white;
}
#desc {
  position: relative;
  left: 250px;
  color: white;
}
#desc-date{
  z-index: 1;
}
#date::before,
#desc::before {
  content: " ";
  position: absolute;
  background-image: url(../images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

.info_cont_inner {
  position: relative;
  padding: 40px !important;
  width: 50% !important;
}
.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 30px solid rgb(0, 0, 0);
  border-left: 30px solid transparent;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.466);
  position: absolute;
  top: 0px;
  left: 0px;
}
#about_us{
  background-image: url(../images/cityscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px !important;
}

.info_cont h2 {
  word-spacing: 20px;
  letter-spacing: 0px;
  transform: scaleY(3);
  padding: 10px;
}
.info_cont_inner {
  height: max-content !important;
  background-color: rgba(255, 0, 13, 0.884);
  z-index: 2;
  border-radius: 10px;
}
.info_cont_inner p {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px !important;
}
.info_cont_inner .spec_font{
  font-size: 25px !important;
}
#about_aarohan {
  background-color: black;
  position: relative;
  overflow: hidden;
}

#fest {
  position: absolute;
  top: 0px;
  left: 100px;
  color: white !important;
  font-size: 200px;
  letter-spacing: 20px !important;
  font-family: fantasy;
  transform: scaleY(3) !important;
}
.moving-text{
  position: absolute;
  left: 0px;
  color: white !important;
  font-size: 50px;
  width: 200%;
  white-space: nowrap;
  letter-spacing: 20px !important;
  font-family: fantasy;
  scale:(1.5,1) !important;
  z-index: -3;
}
#moving-text-1 {
  bottom: -50px;
  animation: 60s linear 0s infinite alternate forwards running marquee;
}
#moving-text-2 {
  bottom: -100px;
  animation: 60s linear 0s infinite alternate-reverse none running marquee;
}
@keyframes marquee {
  0% {
    transform: translateX(-99%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* EVENTS  */
#Events {
  flex-basis: 50% !important;
  width: 75vw;
}
#event-bg{
  position: relative;
  height: 100% !important;
  background-image: url(../images/event-bg-1.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* #logo{
  filter: invert(1);
} */
#Events .spec_font {
  border-bottom: 3px solid black;
  font-family: fantasy;
  transform: scaleY(1.5);
  margin-bottom: 20px !important;
}
.event_cont {
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
  box-shadow: none;
  color: white;
}
/* .event_cont::after{
  content: "";
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.event_cont:hover::after{
  animation-name: width-event-cont;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}*/
@keyframes width-event-cont {
  0%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}

#event_heading{
  transform: scaleY(1.3);
  width: 100% !important;
  border-bottom: 4px solid white; 
}

.event_cont:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px black;
  opacity: 1;
}
.card-body{
  background-color: black !important;
}
.card img{
  filter: grayscale(1);
}

.event_cont:hover .card-body{
  background-color: white !important;
}
.event_cont:hover img{
  filter: grayscale(0);
}
.event_cont:hover .spec_font,.event_cont:hover .card-body{
  color: black !important;
}
.card {
  width: 18rem !important;
  background: none !important;
}
.event_cont:hover .btn{
  color: black !important;
  border-color: black !important;
}
.event_cont:hover .btn:hover,
.btn:focus,
.btn:active,
.open .dropdown-toggle.btn-default {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: -8px -8px 0 -6px var(--red), 8px 8px 0 -6px var(--red) !important;
}

@media screen and (min-width:2000px){
  #Events{
    justify-content: center !important;
    width: 97vw !important;
    margin: 0px !important;
  }
  .event_cont{
    flex-basis: 11%;
  }
}
@media screen and (max-width:1600px){
  .info_cont_inner .spec_font{
    font-size: 20px !important;
  }
  .info_cont_inner p{
    font-size: 17px !important;
  }
  #fest{
    font-size: 150px;
  }
  #Events{
    width: 90vw !important;
  }
}
@media screen and (max-width:1400px){
  #desc-date{
    padding-top: 20px !important;
  }
  #desc{
    left: 30px;
  }
  #date{
    right: 30px;
  }
  .info_cont_inner{
    padding: 20px !important;
  }
  #fest{
    scale: (5,1);
  }
  #Events{
    justify-content: center !important;
  }
}
@media screen and (max-width:1050px){
  #Events{
    width: 100vw !important;
    justify-content: center !important;
  }
}
@media screen and (max-width:1000px){
  .event_cont:hover{
    transform: none;
  }
  .card-body{
    background-color: white !important;
  }
  .card img{
    filter: grayscale(0);
  }
  .card-body .spec_font,.card-body{
    color: black !important;
  }
  .card-body .btn{
    color: black !important;
    border-color: black !important;
  }
}
@media screen and (max-width:800px){
  #landing-inner h2{
    font-size: 58px !important;
  }
  #landing-inner h3{
    font-size: 30px !important;
    letter-spacing: 5px;
    word-spacing: 0px;
  }
  #desc-date{
    flex-direction: column;
  }
  #desc{
    left: 0px;
  }
  #date{
    right: 0px;
  }
  .info_cont_inner{
    width: 70vw !important;
  }
  .info_cont_inner .spec_font{
    font-size: 18px !important;
  }
  .info_cont_inner p{
    font-size: 16px !important;
  }
  #fest{
    font-size: 100px !important;
  }
  .moving-text{
    letter-spacing: 5px !important;
  }
  #landing-inner .btn{
    font-size: 20px !important;
  }
}
@media screen and (max-width:500px){
  .triangle{
    border-bottom: 20px solid rgb(0, 0, 0);
  border-left: 20px solid transparent;
  }
  #landing-inner h2{
    font-size: 35px !important;
  }
  #landing-inner h3{
    font-size: 20px !important;
    letter-spacing: 0px;
    word-spacing: 10px;
  }
  #desc-date p{
    font-size: 15px !important;
  }
  .info_cont_inner{
    padding: 10px !important;
  }
  .info_cont_inner .spec_font{
    font-size: 14px !important;
  }
  .info_cont_inner p{
    font-size: 12px !important;
    padding: 0px !important;
    margin: 10px !important;
  }
  #fest{
    transform: scaleY(10),scaleX(2) !important;
  }
  #landing-inner .btn{
    font-size: 15px !important;
  }
}
